<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haukh.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allow the app to access user phone GPS -->
    <!-- (Coarse Location) Request this permission with the uses-permission. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Display Location Address- (Get a geographic location) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/displayMessage"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.haukh.home.MainActivity" />
        </activity>
        <activity
            android:name=".Movies"
            android:label="@string/title_movies"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Movie"
            android:label="Movie"
            android:parentActivityName=".Movies" />
        <activity
            android:name=".AboutApp"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WebCam"
            android:label="LiveCam"
            android:parentActivityName=".MainActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>